{% assign read_time = resource.content | number_of_words | divided_by: 180 | plus: 1 %}
{% assign year = resource.date | date: "%Y" %}
{% assign tags = resource.tags | join: "" %}
{% assign categories = resource.categories | join: "" %}

<li class="card hoverable" id="{{resource.title}}">
    <div style="display:none">{{categories}}</div>
    <h3>
        <a class="post-title stretched-link" href="{{ resource.url | prepend: site.baseurl }}">{{ resource.title }}</a>
    </h3>
    <p>{{ resource.description }}</p>
    
    <!-- Adds list of categories -->
    <!-- <p class="post-tags">
        {% if tags != "" %}
        {% for tag in resource.tags %}
        <a href="{{ tag | prepend: '/resources/tags/' | prepend: site.baseurl}}">
            <i class="fas fa-tag fa-sm"></i> {{ category }}</a> &nbsp;
            {% endfor %}
        {% endif %}
    </p> -->
</li>